b,
em,
strong {
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
}

.hero {
  background-color: #f8f9fa;
  padding: 5rem 0;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-image {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.banner-index {
  background: url("/static/img/banner.jpg") no-repeat fixed;
  background-size: 100% auto;
}

.searchbar-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.searchbar {
  position: relative;
  background: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.searchbar:focus-within {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.01);
  transform: translateY(-2px);
}

.searchbar-input {
  border: 2px solid #eee;
  border-radius: 30px;
  padding: 15px 25px;
  padding-right: 50px;
  width: 100%;
  transition: all 0.3s ease;
}

.searchbar-input:focus {
  border-color: rgb(6, 85, 6);
  box-shadow: none;
}

.searchbar-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  transition: all 0.3s ease;
  border: none;
  background-color: white;
}

.searchbar:focus-within .search-icon {
  color: rgb(6, 85, 6);
}

.searchbar:focus-within .suggestions {
  opacity: 1;
  transform: translateY(0);
}

.img-card-200 {
  width: fit-content;
  max-height: 200px;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
}

/* Media Queries */
@media (max-width: 767.98px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-image {
    margin: 2rem auto 0;
  }
}
