{% extends 'base.html' %} {% block content %} {% load static %}
<div class="card my-2 mx-1">
  <div class="container">
    <section class="col-md-10 col-lg-8 offset-lg-2 mx-auto mb-3">
      <img
        src="{% static 'img/about.jpg' %}"
        class="card-img-top"
        alt="{{ template_data.movie.title }}"
      />
      <div class="card-body">
        <h1 class="h5 card-title">{{ template_data.movie.title }}</h1>
        <p class="card-text">{{ template_data.movie.descr }}</p>
        <p class="card-text fs-4">£{{ template_data.movie.price }}.00</p>
      </div>
    </section>
  </div>
</div>
{% endblock content %}
